@model List<TaskModel>
@section Scripts {

    <script src="~/js/Pages/Task/ListTask.js"></script>
}

<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Task List</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha Registro</th>
                <th>Completa</th>
                <th>Fecha Conclusión</th>
                <th> Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td>@task.Id</td>
                    <td>@task.Title</td>
                    <td>@task.Description</td>
                    <td>@task.RegisteredAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@(task.IsCompleted ? "Si" : "No")</td>
                    <td>
                        @if (task.CompletedAt.HasValue)
                        {
                            @task.CompletedAt.Value.ToString("yyyy-MM-dd HH:mm")
                        }
                        else
                        {
                            <button type="button" data-task-id="@task.Id" class="completeBtn btn btn-primary">Completar</button>
                        }
                        
                    </td>
                    <td>
                        <button class="deleteBtn btn-danger w-100 mb-1" data-task-id="@task.Id">Borrar</button>
                        <button class="editBtn btn-toolbar w-100" data-task-id="@task.Id">Modificar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>


