
@{
    ViewData["Title"] = "Tareas Por Hacer";
}

@section Scripts{

    <script src="~/js/Pages/Home.js"></script>
}

<div class="text-center">
    <h3 class="display-4">Tareas por Hacer</h3>
   
    <div class="d-flex">
        <div class="flex-grow-1">
           <form action="@Url.Action("Create", "Task")" method="get">
                <button class="btn-primary w-75 mb-2" type="submit">Crear Tarea</button>
            </form>
        
            <form method="post" action="@Url.Action("List", "Task")">
                    <button class="btn-primary w-75 mb-2" type="submit">Todas las Tareas</button>
            </form>
        
            <form method="post" action="@Url.Action("ListByCompletion", "Task")">
                <input type="hidden" id="completionStatus" name="completionStatus" value="false" />
                    <button class="btn-primary w-75 mb-2" type="submit">Ver Incompletas</button>
            </form>
        
            <form method="post" action="@Url.Action("ListByCompletion", "Task")">
                <input type="hidden" id="isCompleted" name="isCompleted" value="true" />
                    <button class="btn-primary w-75 mb-2" type="submit">Ver Completas</button>
            </form>
        
        </div>
        <div class="flex-grow-1">
            <form class="d-flex justify-content-center" method="post" action="@Url.Action("SearchTask", "Task")">
                <div class="d-flex flex-column align-content-center w-75">
                    <label for="searchParam">Buscar por Título o Descripción</label>
                    <input class="mb-2" type="text" name="searchParam" id="searchParam" />
                    <button class="btn-primary mb-2" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>


</div>

